.visual h2 {
    position: relative;
}
.visual .visual-main-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 238px;
    left: 75px;
    z-index: 1;
}
.visual .subsec {
    margin-left: 70px;
}
.visual .visual-sub-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 443px;
    left: 123px;
    gap: 10px;
}
.visual .subtitle {
    margin-left: -10px;
}
.visual .visual-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 717px;
    left: 132px;
    gap: 18px;
}
.visual .visual-btn .btn-txt {
    text-decoration: none;
    color: #fff;
    background: red;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
}
.info-text {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    width: 547px;
    height: 650px;
    float: left;
    margin: 20px;
    font-size: 25px;
    line-height: 1.9;
    text-align: justify;
}

.info-text-stress {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3;
}

.info-text + .info-img {
    width: 1113px;
    float: right;
    background-color: rgba(255, 255, 255, 0.2);
    height: 736px;
    /* bgi = 배경이미지 채워넣기  */
    background-size: 50px 50px;
}

.main-1 {
    display: flex;
}

/* info */
.info-wrap {
    display: flex;
    gap: 25px;
}
.info-img {
    width: 1113px;
    height: 736px;
    background: #fff;
}

.info-txt {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-txt strong {
    font-weight: 700;
    font-size: 25px;
}
.info-txt p {
    font-weight: 500;
    font-size: 25px;
}

/* Synopsis-info */

.Synopsis-info {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Synopsis-info h3 {
    font-weight: 700;
    font: 60px "HYMyeongJo", sans-serif;
}

.Synopsis-info p {
    font-weight: 500;
    font: 30px/1.6 "HYGraphic", sans-serif;
    text-align: center;
}

/* video player */
.video-box iframe {
    width: 1255px;
    height: 620px;
}

.Standing-char .charSwiper .swiper-wrapper img {
    width: 400px;
    height: 635px;
}

.swiper-wrapper b {
    color: #fff;
}

.swiper-horizontal {
    height: auto;
}
