.inner nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /* background: #ff5; */
    display: flex;
    width: 826px;
    margin: 59px 0 0 124px;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
}
nav h1 {
    align-items: center;
}
.gnb {
    align-items: center;
    display: flex;
    margin-left: 81px;
    gap: 35px;
    color: #fff;
}
.gnb a {
    color: inherit;
    text-decoration: none;
}

.visual h2 {
    position: relative;
}
.visual .visual-main-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 238px;
    left: 75px;
    z-index: 1;
}
.visual .subsec {
    margin-left: 70px;
}
.visual .visual-sub-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 443px;
    left: 123px;
    gap: 10px;
}
.visual .subtitle {
    margin-left: -10px;
}
.visual .visual-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 717px;
    left: 132px;
    gap: 18px;
}
.visual .visual-btn .btn-txt {
    text-decoration: none;
    color: #fff;
    background: red;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
}
