.visual h2 {
    position: relative;
}
.visual .visual-main-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 238px;
    left: 75px;
    z-index: 1;
}
.visual .subsec {
    margin-left: 70px;
}
.visual .visual-sub-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 443px;
    left: 123px;
    gap: 10px;
}
.visual .subtitle {
    margin-left: -10px;
}
.visual .visual-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 717px;
    left: 132px;
    gap: 18px;
}
.visual .visual-btn .btn-txt {
    text-decoration: none;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    color: #000;
    background: #fff;
}
.visual .visual-btn .btn-txt:hover {
    padding: 15px 60px;
    color: #fff;
    background: #dd1d5b;
}
.info-text {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    width: 547px;
    height: 650px;
    float: left;
    margin: 20px;
    font-size: 25px;
    line-height: 1.9;
    text-align: justify;
}

.info-text-stress {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3;
}

.info-text + .info-img {
    width: 1113px;
    float: right;
    background-color: rgba(255, 255, 255, 0.2);
    height: 736px;
    /* bgi = 배경이미지 채워넣기  */
    background-size: 50px 50px;
}

.main-1 {
    display: flex;
}

/* info */
.info-wrap {
    display: flex;
    gap: 25px;
}
.info-img {
    width: 1113px;
    height: 736px;
    background: #fff;
}
.info-img iframe {
    width: 1113px;
    height: 736px;
    border: 1px solid #fff;
}
.info-txt {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-txt strong {
    font-weight: 800;
    font-size: 30px;
    color: #dd1d5b;
}
.info-txt p {
    /* font-weight: 400; */
    line-height: 2.5;
    font-size: 23px;
}

/* Synopsis-info */

.Synopsis-info {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Synopsis-info h3 {
    font-weight: 700;
    font: 60px "HYMyeongJo", sans-serif;
}

.Synopsis-info p {
    font-weight: 500;
    font: 30px/1.6 "HYGraphic", sans-serif;
    text-align: center;
}

/* video player */
.video-box iframe {
    width: 1255px;
    height: 620px;
}

.Standing-char .charSwiper .swiper-wrapper img {
    width: 400px;
    height: 635px;
}

.swiper-wrapper b {
    color: #fff;
}

.swiper-horizontal {
    height: auto;
}
.swiper-slide {
}
.swiper-slide a {
    text-decoration: none;
}
.swiper-slide .btn-swiper {
    display: block;
    padding: 15px 30px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    transition: all 0.5s;
    cursor: pointer;
    clear: both;
    position: relative;
    top: -10px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide .btn-swiper:hover {
    background-color: red;
    padding: 15px 45px;
    color: #fff;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .info-txt {
        width: 100%;
    }
    .info-wrap {
        width: 100%;
        flex-direction: column-reverse;
    }
    .info-img {
        width: 100%;
        height: 350px;
        background: none;
    }

    .info-img iframe {
        width: 100%;
        height: 100%;
    }

    .Synopsis-info figure {
        width: 100%;
        height: 100%;
    }
    .Synopsis-info img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .visual .visual-main-title {
        width: 310px;
        top: 15%;
        left: 7%;
    }
    .visual .subsec {
        margin-left: 35px;
    }
    .visual .visual-sub-title {
        width: 240px;
        top: 25%;
        left: 12%;
    }
    .visual .visual-btn {
        width: 150px;
        top: 40%;
        left: 10%;
    }
}

@media (max-width: 600px) {
    .visual-btn a:first-child {
        display: none;
    }
    .visual .visual-btn .btn-txt {
        display: none;
    }
    .visual .visual-main-title {
        width: 180px;
        top: 14%;
        left: 5%;
    }
    .visual .subsec {
        margin-top: -13px;
        margin-left: 10px;
        width: 130px;
    }
    .visual .visual-sub-title {
        width: 140px;
        top: 20%;
        left: 9%;
    }
    .info-txt strong {
        font-size: 20px;
    }
    .info-txt p {
        font-weight: 500;
        font-size: 10px;
    }

    /* 시놉시스 */
    .Synopsis-info h3 {
        font-size: 18.5px;
        font-weight: 800;
    }
    .Synopsis-info p {
        font-size: 15px;
    }
    .ytp-cued-thumbnail-overlay-image {
        width: 100%;
    }
    .Standing-char .charSwiper .swiper-wrapper img {
        width: 290px;
    }
    .f-info .f-txt {
        font-size: 13px;
    }
}
